<div id="sidebar">
    <div class="text-center">
        <img width="150" src="{{asset('images/logo.svg')}}"/>
        <h4 class="mt-3 mb-5 text-white">Symfony + AngularJS</h4>
    </div>

    {{include('admin/layouts/menu.html.twig')}}

</div>